body{
    min-height: 110vh;
    background: url(imagenes/fondo.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: "Kode Mono", monospace;
}

.logo-alura{

    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block; 
    float: left;
}

.titulo{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-right: 150px;
    
}

main{
    display: flex;
    margin-bottom:50px ;
    margin-left: 80px;
}

.text-area{
    width: 680px ;
    height: 400px;
    padding: 20px;
    border: none;
    border-radius: 25px;
    color: rgb(2, 23, 23);
    margin-top: 90px;
    margin-left: 0;
    text-transform: lowercase;
}

::placeholder{color: rgb(2, 23, 23);}
    .text-area:focus {
        outline:none 
    }

.informacion{
    color: white;
    font-size: 15px;
}    

.mensaje{
    width: 300px;
    height: 540px;
    background: white;
    background-image: url(imagenes/binary-code.256x209.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: auto;
    border: none;
    border-radius: 24px;
    color: black;
    margin-left: 50px;
    margin-top: 30px;
    padding-left: 20px;
}
.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar, .btn-desencriptar, .copiar{
    font-family: "Kode Mono", monospace;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 25px;
}

.btn-encriptar{
    background: rgb(8, 0, 40);
    border: 2px solid rgb(65, 57, 100);
    color: white;
}

.btn-desencriptar{
    background: rgb(183, 183, 183);
    border: 2px solid rgb(21, 2, 97);
    color: rgb(6, 10, 34);
    margin-left: 55px;
}

.copiar{
    background: rgb(8, 0, 40);
    border: 2px solid rgb(65, 57, 100);
    border-radius: 24px;
    color: white;
    margin-top: 45px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .logo-alura{
        float: none;
        margin: 0;
        margin-left: 60px;
    }

    .titulo {
        display: inline-block;
        font-size: 30px; 
        padding-right: 0; 
        width: 300px;
        padding-left: 10px;
    }

    main {
        flex-direction: column; 
        align-items: center;
        margin: 30px 15px 0px 0px;
        width: 310px;
    }

    .text-area {
        width: 265px; 
        height: 200px; 
        margin-top: 20px; 
    }

    .mensaje {
        width: 265px; 
        height: 200px; 
        margin-left: 0; 
        padding-left: 30px; 
    }

    .btn-encriptar,
    .btn-desencriptar,
    .copiar {
        width: 100%; 
        font-size: 20px; 
        margin: 5px;
    }
}
